* {
  margin: 0;
  padding: 0;
  accent-color: #ff0045;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  background: #eee;
}
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 0 10px;
  padding: 0 12px;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
  background: #fff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 1;
}
header a {
  text-decoration: none;
  color: #000;
}
header i {
  border-radius: 5px;
  padding: 4px;
  font-size: 1.6em;
  cursor: pointer;
}
header .fa-cog:hover {
  background: #eee;
}
header .tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8%;
  margin-left: 10px;
}
header .logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 19%;
}
header .logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
header .logo span {
  font-size: 1.2em;
  font-weight: bold;
  font-family: Righteous, sans-serif;
  color: #ff0045;
}
header .logo img {
  width: 50px;
}
.settings-box {
  position: absolute;
  left: 100px;
  top: 50px;
  z-index: 1;
  width: 240px;
  display: none;
  grid-template-columns: 240px;
  border-radius: 6px;
  padding: 10px;
  background: #fff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  user-select: none;
}
.settings-box label {
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
}
.settings-box .brightness-selector {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
nav {
  position: absolute;
  display: grid;
  align-content: center;
  grid-template-rows: 70px 70px 70px 70px 70px 70px;
  gap: 10px;
  height: 90vh;
  width: 60px;
  margin: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  transition: 0.2s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
nav:hover {
  width: 200px;
}
nav a {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0;
  color: #000;
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
}
nav a:hover {
  color: #ff0045 !important;
}
nav a i {
  margin: auto 30px auto 9px;
  font-size: 1.7em;
  width: 40px;
  text-align: center;
}
.active-link {
  color: #fff;
  background-color: #ff0045;
}
.active-link:hover {
  color: #fff !important;
  background: #ff0045;
}
main {
  overflow-y: auto;
  height: 92vh;
  max-height: 92vh;
  margin-left: 80px;
}
.container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 140px 140px 140px;
  gap: 25px;
  padding-top: 10px;
}
.items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  padding: 5px;
  user-select: none;
  transition: 0.2s;
}
.items:hover {
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.4);
}
.items .app-image {
  width: 48%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items img {
  height: 100%;
  width: auto;
  border-radius: inherit;
}
.game-image {
  width: 100% !important;
}
.items h3 {
  margin: 5px auto 2px auto;
  font-family: 'Varela Round', 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.items .description {
  width: 52%;
  font-size: 0.8em;
  margin: 0 4px 0 8px;
}
.items .description p {
  height: 62%;
  width: 100%;
  margin-right: 2px;
  word-wrap: break-word;
  text-align: justify;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'varela Round', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.items .downloader {
  display: inline-block;
  width: 92%;
  text-align: center;
  color: #000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  padding: 6px 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.downloader:hover {
  color: #fff;
  background: #ff0045;
}
/* Movies */
.movies-container {
  display: grid;
  grid-template-columns: 280px 280px 280px 280px;
  grid-template-rows: 250px 250px 250px;
  gap: 38px;
  padding-top: 10px;
}
.movie {
  width: 100%;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background: #fff;
}
.movie:hover {
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
}
.movie a {
  display: grid;
  grid-template-rows: 142px 50px 20px;
  color: #000;
}
.movie-image {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}
.movie-image img {
  width: 100%;
  border-radius: inherit;
  transition: 0.3s;
}
.movie-image img:hover {
  transform: scale(1.3);
}
.movie h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Varela Round', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.movie p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Movie Player */
.movie-player {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: calc(450px * 0.9);
  width: calc(720px * 0.9);
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}
.movie-player-title {
  font-family: 'Varela Round', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.movie-downloader {
  color: #fff;
  background: #ff0045;
  padding: 6px 20px;
  border-radius: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 800%);
}
.backnav-btn {
  border-radius: 4px;
  padding: 5px 20px;
  margin: 10px;
  font-size: 1.1em;
}
/* Books */
.books-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
  grid-template-rows: 400px 400px 400px;
  gap: 38px;
  padding-top: 10px;
  user-select: none;
}
.book {
  display: grid;
  grid-template-rows: 300px 40px 20px;
  justify-items: center;
  width: 100%;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background: #fff;
}
.book:hover {
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
}
.book-image {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}
.book-image img {
  width: 100%;
  border-radius: inherit;
  transition: 0.3s;
}
.book-image img:hover {
  transform: scale(1.3);
}
.book h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9em;
  font-family: 'Varela Round', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.book .book-navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: Montserrat, 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.book-navs .fa-external-link-alt {
  border-radius: 5px;
  padding: 6px;
}
.book-navs .fa-external-link-alt:hover {
  background: #eee;
}
.book-navs .book-downloader {
  color: #fff;
  background: #ff0045;
  padding: 4px;
  border-radius: 20px;
  width: 60%;
  text-align: center;
}
/* About */
.about-box {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  z-index: 2;
  user-select: none;
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 50%;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  box-shadow: 1px 2px 15px 6px rgba(0, 0, 0, 0.2);
}
.my-image {
  width: 32%;
  height: 100%;
}
.about-container img {
  height: 100%;
  border-radius: 10px;
}
.about-me {
  width: 68%;
  line-height: 40px;
  font-family: Montserrat, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about-me h2 {
  font-family: Righteous, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about-me span {
  font-family: 'Varela Round', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about-close-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
  cursor: pointer;
}
.about-close-btn i {
  transform: translate(0, -140%);
}
.about-close-btn i:hover {
  color: #aaa;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(0, 60%);
}
.social-icons {
  font-size: 2em;
}
.copyright {
  font-size: 0.7em;
}
/* Help */
.help-box {
  display: none;
  position: fixed;
  right: 10px;
  top: 50px;
  width: 400px;
  border-radius: 10px;
  padding: 10px 15px;
  background: #fff;
  z-index: 2;
  box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.2);
  user-select: none;
}
.help-box h3 {
  font-family: 'Varela Round', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.help-box fieldset {
  margin: 10px auto;
  border-radius: 4px;
  width: 100%;
}
.help-box legend {
  font-family: 'Varela Round', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 5px;
}
.help-box input, textarea {
  width: 97%;
  height: 100%;
  border: none;
  outline: none;
  padding: 6px;
  font-size: 1.02em;
  font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.help-box button {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 8px;
  color: #fff;
  font-weight: 900;
  font-family: Montserrat, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #ff0045;
  cursor: pointer;
}
.help-box button:hover {
  background: #ec0241;
}
/* Success */
.success-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff0045;
}
.success-msg {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.2);
}
.success-msg h2 {
  font-family: 'Varela Round', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.success-msg h3 {
  margin-bottom: 10px;
  font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.success-msg p {
  margin-bottom: 10px;
  color: limegreen;
  font-family: 'Varela Round', Verdana, Geneva, Tahoma, sans-serif;
}
.success-msg a {
  color: #ec0241;
  font-family: Righteous;
}
.success-msg a:hover {
  text-decoration: underline;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #aaa;
}
::-webkit-scrollbar-thumb {
  background: #ff0045;
  border-radius: 10px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  header {
    font-size: 0.8em;
    padding: 4px;
  }
  header .tools {
    width: 20%;
  }
  header .logo {
    width: 40%;
  }
  header .logo span {
    font-size: 1em;
  }
  header .logo img {
    width: 30px;
  }
  nav {
    font-size: 0.7em;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
    width: 100%;
    margin: 0;
    padding: 10px 5px;
    border-radius: 0;
    background: #fff;
    box-shadow: 0 -1px 10px 1px rgba(0, 0, 0, 0.2);
    overflow: visible;
  }
  nav:hover {
    width: 100%;
  }
  nav a {
    width: 50px;
    color: #000;
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    height: 100%;
    margin: 0;
    display: block;
    text-align: center;
  }
  nav a:hover {
    color: #ff0045 !important;
  }
  nav a i {
    width: 100%;
    margin: 8px 0 0 0;
    padding: 0;
    display: block;
  }
  nav a span {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 6px;
  }
  main {
    margin-left: 0;
    padding: 10px;
    height: 88vh;
    overflow-y: auto;
    max-height: 88vh;
  }
  .container {
    display: grid;
    grid-template-columns: 235px 235px 235px;
    grid-template-rows: 100px 100px 100px;
    padding-top: 10px;
    gap: 18px;
  }
  .items {
    font-size: 0.6em;
  }
  .items:hover {
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.4);
  }
  .items .app-image {
    width: 42%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .items img {
    height: auto;
    width: 100%;
    border-radius: inherit;
  }
  .game-image {
    width: 100% !important;
  }
  .items h3 {
    margin: 5px auto 2px auto;
    font-family: 'Varela Round', 'Trebuchet MS', 'Lucida Sans Unicode',
      'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .items .description {
    width: 52%;
    font-size: 0.8em;
    margin: 0 4px 0 8px;
  }
  .items .description p {
    height: 62%;
    width: 100%;
    margin-right: 2px;
    word-wrap: break-word;
    text-align: justify;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'varela Round', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .items .downloader {
    display: inline-block;
    width: 89%;
    text-align: center;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    padding: 6px 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}
